.inputBox {
  font-family: "FS Me Light", sans-serif;
  width: 7vw;
  border: 0;
  box-shadow: 2px 3px 2px #d3756b;
  outline: 0;
  border-radius: 25px;
  font-size: 1.2rem;
  color: #2c3333;
  padding: 5px 0;
  transition: border-color 0.2s;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  width: 20vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.dash {
  display: flex;
  align-items: center;
}
