.starUnfilled {
  color: #ffd6c2;
  cursor: pointer;
  transition: 0.1s linear;
}
.starUnfilled:hover {
  color: #b06464;
  transform: scale(1.02);
}

.starFilled {
  color: #b06464;
  cursor: pointer;
  transition: 0.1s linear;
}

.starFilled:hover{
  filter: brightness(0.7);
}

.ratingContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.ratingText {
  font-family: "FS Me Light", sans-serif;
  font-size: 18pt;
  color: #b06464;
  padding-left: 10px;
}
