.searchBarContainer {
    margin-top: 8%;
}

.cardGroupContainer {
    margin-top: 4%;
}

.titleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.filterBookingsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;

    width: 100%;
    height: 60%;
}

.filterContainer{
    width: fit-content;
    height: fit-content;
}

.singleBookingContainer {
    scale: 0.9;
}