.searchBarContainer {
    margin-top: 10%;
}

.cardGroupContainer {
    margin-top: 4%;
}

.titleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

