.bookingContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #d3756b;
  height: fit-content;
  width: 65vw;
}

.textContainer {
  height: 100%;
  gap: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
  padding-right: 30px;
}

.datesButtonContainer {
  display: flex;
  flex-direction: row;
}

.button {
  display: flex;
  justify-content: flex-end;
}
