.dateText {
  font-family: "FS Me Regular", sans-serif;
  font-size: 18px;
  color: #2c3333;
  padding-right: 15px;
}

.dateTextBold {
  font-family: "FS Me Regular", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #2c3333;
  padding-right: 15px;
}

.dateContainer {
  width: fit-content;
  max-width: 350px;
  display: flex;
  justify-content: flex-start;
}

.editButton {
  cursor: pointer;
}
