.subtitleText {
  font-family: "FS Me Regular", sans-serif;
  font-size: 22px;
  color: #2c3333;
}

.dot {
  padding: 10px;
}
.subtitleContainer {
  width: fit-content;
  max-width: 350px;
  display: flex;
  align-items: center;
}
