.navigationBarContainer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #B06464;
    width: 100%;
    top: 0;
    left: 0;
}

.navigationButtonsContainer{
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
}

.authenticationButtonsContainer{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;

}

.lineBreak{
    border: 1px solid white;
    height: 7vh;
    
}
